*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style-type: none;
}

a,
button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

img,
svg {
    display: block;
    max-width: 100%;
}
