:root {
    /* INFO: COLORS */
    --h2-font: 2rem;

    /* INFO: COLORS */
    --floral-white: #FEF8EF;
    --azure-white: #dbe9f4;
    --night-black: #0A130A;
    --yellow: #Fde74c;
    --forest-green: #029322;
    --lime-green-1: #6AFD60;
    --blue: #0B54D1;
    --pumpkin: #F56A13;
    --gray: #404F44;
    --red: #DC160F;

    --lime-green-1-80: #6AFD6080;
    --yellow-80: #Fde74c80;
    --yellow-20: #Fde74c40;
    --blue-80: #0B54D140;
    --azure-white-80: #dbe9f480;
    --blue-20: #0B54D108;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    background: var(--floral-white);
    /* height: 1200px; */
}

/* INFO: GLOBAL*/
.button {
    min-height: 4rem;
    min-width: 8rem;
    border: none;
    background: transparent;
    border-radius: 2rem;
    padding: .5rem 1rem;
}

.explore-button {
    width: 12rem;
    padding-inline: 1.6rem;
    background-image: linear-gradient(90deg, var(--night-black) -25%, var(--forest-green) 50%, var(--lime-green-1) 140%);
    transform-origin: left;
    color: var(--floral-white);
    font-weight: 500;
    letter-spacing: .05rem;

    transition-property: background-image, letter-spacing, padding-inline, opacity;
    transition: 250ms ease-in;
}

.explore-button:hover {
    background-image: linear-gradient(-90deg, var(--night-black) -25%, var(--forest-green) 50%, var(--lime-green-1) 135%);
    letter-spacing: .2rem;
    padding-inline: 1.6rem;
    opacity: 0.9;
}

section {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding-block: 10rem 9rem;
    padding-inline: 11%;
}

.hidden {
    transform: translateY(-50%);
    opacity: 0;
}

h2 {
    font-size: var(--h2-font);
    font-weight: 600;
}

h2>span {
    color: var(--forest-green);
    border-bottom: 2px solid var(--forest-green);
}

/* INFO: HEADER*/

header {
    background: var(--yellow-20);
    z-index: 1000;
    padding-block: 1.7rem;
    padding-inline: 11%;

    position: fixed;
    top: 0;
    right: 0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all 250ms ease-in-out;
}

header.sticky {
    z-index: 1000;
    padding-block: 1.7rem;
    padding-inline: 11%;

    background: var(--floral-white);
}

header a.logo {
    display: grid;
    place-items: center;
    width: 7rem;
    height: auto;
    aspect-ratio: 1/1;
}

header nav .navbar-links {
    display: flex;
    gap: 2.8rem;
}


/* @media only screen and (max-width: 69.99em) {
    header nav .navbar-links {
        display: none;
    }
} */

header nav .navbar-links .link a {
    padding: .5rem 2rem;
    border-radius: 0% 90% 90% 0%;

    transition: all 100ms ease-in-out;
}

header nav .navbar-links .link a:hover,
header nav .navbar-links .link a.active {
    color: var(--floral-white);
    background: var(--forest-green);
}

header .icons {
    display: flex;
    align-items: center;
    gap: 2.8rem;
}

header .icons .li-cart-icon {
    position: relative;
}

header .icons .li-cart-icon>.item-quantity {
    position: absolute;
    display: block;
    content: "";
    min-height: 1.6rem;
    color: var(--red);
    font-weight: 500;
    top: -1rem;
    right: -5px;
}

header .icons li a svg {
    height: 2rem;
    width: 1.6rem;

}

header #mobile-nav {
    display: none;
}

header  .hamburger-button {
    display: none;
}

/* INFO: HOME */

.home {
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    background-color: var(--yellow-80);
    background-image: url("../assets/home-bg.svg");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.home .home-text {
    display: flex;
    flex-direction: column;
    font-weight: 500;

    transition: all 450ms ease-in;
}


.home .home-text h4 {
    color: var(--gray);
    font-size: 2.2rem;
}

.home .home-text h1 {
    font-size: 4.2rem;
    line-height: 1.2;
    margin-block-start: 1rem;
    margin-block-end: 4.5rem;

}

.home .home-text .explore-button a {
    height: 100%;
}

.home .home-img img {
    width: 100%;
    height: auto;
}

/* INFO: FEATURE */

.feature .feature-content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(34rem, auto));
    gap: 2rem;
    margin-block-start: 4.2rem;

    transition-property: transform, opacity;
    transition-delay: 500ms;
    transition: 450ms ease-in;
}

.feature .feature-content.hidden {
    opacity: 0;
    transform: translateX(-50%);
}

.feature .feature-heading {
    transition-property: transform, opacity;
    transition: 450ms ease-in;
}

.feature .feature-content .row {
    padding: 4rem 1rem;
    background-color: var(--yellow-80);
    border-radius: 1rem;
    max-height: fit-content;

    transition-property: cursor, transform;
    transition: 250ms ease-in
}

.feature .feature-content .row:nth-child(2) {
    background: var(--azure-white-80);
}

.feature .feature-content .row:nth-child(3) {
    background: var(--lime-green-1-80);
}

.feature .feature-content .row:nth-of-type(4n) {
    background: var(--blue-80);
}

.feature .feature-content .row:hover {
    cursor: pointer;
    transform: translateY(-.5rem);
}

.feature .feature-content .row .main-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.feature .feature-content .row .main-row .row-text h6 {
    color: var(--gray);
    font-size: 1.3rem;
    font-weight: 500;
    margin-block-end: 1rem;
}

.feature .feature-content .row .main-row .row-text h3 {
    margin-block-end: 3rem;
    font-size: 2.6rem;
    font-weight: 600;
}

.feature .feature-content .row .main-row .row-text .row-button {
    font-size: 1.5rem;
    padding-block: 1.2rem;
    padding-inline: 2.2rem;
    background: var(--floral-white);
    border-radius: 3rem;

    transition-property: letter-spacing, background, color;
    transition: 250ms ease-in;
}

.feature .feature-content .row .main-row .row-text .row-button:hover {
    background: var(--forest-green);
    color: var(--floral-white);
    letter-spacing: .05rem;
}

.feature .feature-content .row .row-img {
    width: 17rem;
}

.feature .feature-content .row .row-img img {
    width: 100%;
    height: auto;
}

/* INFO: PRODUCTS */
.products {
    min-height: 100vh;
    background: var(--azure-white-80);
}

.products-heading {
    transition-property: transform, opacity;
    transition: 450ms ease-in;
}

.products-content {
    border: 2px solid red;
    background: var(--blue-20);
    border-radius: .5rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
    align-items: center;
    gap: 2rem;
    margin-block-start: 4rem;

    transition-property: transform, opacity;
    transition-delay: 500ms;
    transition: 450ms ease-in;
}

.products-content.hidden {
    opacity: 0;
    transform: translateX(-50%);
}

.products-content .product-box {
    height: auto;
    position: relative;
}

.products-content .product-box img {
    height: 15rem;
    width: 20rem;
    max-width: 20rem;
    object-fit: scale-down;
    margin-block-end: 1.2rem;
}

.products-content .product-box h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-block-end: .5rem;
    line-height: 1.1;
}

.products-content .product-box h4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--gray);
    margin-block-end: 2rem;
}

.products-content .product-box .numbers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem;
    justify-content: space-between;
}

.products-content .product-box .heart svg {
    position: absolute;
    content: "";
    color: var(--red);
    top: .5rem;
    right: .5rem;
    display: inline-block;
    border-radius: 50%;
    padding: .4rem;

    transition-property: color, fill, scale;
    transition: 250ms ease-in;
}

.products-content .product-box .heart svg:hover {
    fill: var(--red);
    cursor: pointer;
    scale: 1.2;
    color: var(--floral-white);
}

.products-content .product-box .price {
    border: 1px solid var(--red);
    border-radius: 1rem;
    padding-block: .2rem;
    padding-inline: .5rem;
}

.products-content .product-box .ratings {
    display: flex;
    column-gap: .5rem;
    margin-block: 1rem;
}

.products-content .product-box .ratings svg {
    color: var(--red);
    fill: var(--red);
    width: 1.6rem;
}

/* INFO: ADVERTISEMENT  */
.advertisement {
    background: var(--lime-green-1-80);
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-items: center;
}

.advertisement .ad-text {
    transition-property: transform, opacity;
    transition: 450ms ease-in;
}

.advertisement .ad-text.hidden {
    transform: translateX(-50%);
}

.advertisement .ad-text h3 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
    margin-block-end: 2rem;
}

.advertisement .ad-text p {
    margin-block-end: 2rem;
}

.advertisement .explore-button {
    width: auto;
}

.explore-button:hover {
    letter-spacing: .065rem;
}


.advertisement .ad-img {
    height: 40rem;

    transition-property: transform, opacity;
    transition: 450ms ease-in;
}

.advertisement .ad-img.hidden {
    transform: translateX(50%);
}

.advertisement .ad-img img {
    height: 100%;
}

/* INFO: CONTACT */
.contact {
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact .contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition-property: transform, opacity;
    transition-delay: 500ms;
    transition: 450ms ease-in;
}

.contact .contact-text.hidden {
    opacity: 0;
    transform: translateX(-50%);
}

.contact .contact-text h5 {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--gray);
    margin-block-end: 2rem;
}

.contact .contact-text h3 {
    font-size: 2.8rem;
    font-weight: 600;
    margin-block-end: 1rem;
}

.contact .contact-form {
    transition-property: transform, opacity;
    transition-delay: 500ms;
    transition: 450ms ease-in;
}

.contact .contact-form.hidden {
    opacity: 0;
    transform: translateX(50%);
}

.contact form .form-group input {
    background: transparent;
    border: none;
    padding: 1rem 1.5rem;
    outline: 1px solid var(--forest-green);
    border-radius: 2rem;
    margin-inline-end: 1rem;
}

.contact form .form-group input:focus-visible {
    outline-width: 2px;
}

.contact form .form-group input::placeholder {
    color: var(--gray);
}

.contact form .form-group .button {
    width: auto;
}

/* INFO: FOOTER */
footer {
    background: var(--lime-green-1-80);
    padding-block: 5rem 4.5rem;
    padding-inline: 11%;
}

footer .footer-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, auto));

    transition-property: transform, opacity;
    transition: 450ms ease-in;
}

footer .footer-nav.hidden {
    transform: translateY(-2%);
}

footer .footer-nav .nav-content {
    width: 50%;
}

footer .footer-nav .nav-content:nth-child(2) {
    justify-self: center;
}

footer .footer-nav .nav-content:nth-child(3) {
    justify-self: end;
}

footer .footer-nav .nav-content h5 {
    margin-block-end: 1rem;
}

footer .footer-nav .nav-content ul li {
    margin-block-end: .5rem;
}

footer .footer-nav .nav-content ul li a {
    display: flex;
    width: fit-content;
    font-size: 1.4rem;

    transition-property: font-weight, color, transform;
    transition: 250ms ease-in
}

footer .footer-nav .nav-content ul li a:hover {
    font-weight: 500;
    color: var(--forest-green);
    transform: translateX(.5rem);
}

footer .footer-nav .nav-content ul li svg {
    margin-inline-end: .5rem;
}

/* INFO: MEDIA QUERIES*/
@media only screen and (max-width: 70em) {
    header nav .navbar-links {
        font-size: 1.2rem;
    }

    header .icons li a svg {
        width: 1.4rem;
    }

    header .icons .li-cart-icon>.item-quantity {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 69.99em) {
    body {
        position: relative;
    }

    header  #desktop-nav {
        display: none;
    }

    header .icons {
        margin-inline-end: 2rem;
    }

    header #mobile-nav {
        --spacing: 2rem;
        --width: 16rem;
        border-left: 1px solid var(--yellow-80);
        background: var(--yellow-20);
        width: var(--width);
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-block: 1rem;
        opacity: 1;

        position: absolute;
        top: 10.4rem;
        right: 0;
        transform: translateX(100%);

        transition-property: transform, opacity;
        transition: 450ms ease-in-out;
    }


    header #mobile-nav.white {
        background: var(--floral-white);
    }

    header #mobile-nav.open {
        opacity: 1;
        transform: translateX(0);
    }

    header  .hamburger-button {
        z-index: 999;
        display: block;
        border: none;
        width: fit-content;
        margin-inline-start: var(--spacing);
    }

    header  .hamburger-menu {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: .2rem;
        height: 1.1rem;
        width: 2rem;
    }

    header #mobile-nav .navbar-links {
        display: flex;
        flex-direction: column;
    }

    header  .hamburger-menu .line {
        width: 100%;
        height: .3rem;
        background: var(--night-black);

        transition-property: transform, transform-origin, opacity;
        transition: 250ms ease-in-out;
    }

    header .hamburger-button.open .hamburger-menu .line-1 {
        transform: rotate(45deg);
        transform-origin: 5px 2px;
    }

    header .hamburger-button.open .hamburger-menu .line-2 {
        opacity: 0;
    }

    header .hamburger-button.open .hamburger-menu .line-3 {
        transform: rotate(-45deg);
        transform-origin: 5px -.5px;
    }


}



